*{
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body{
	font-family: "source sans Pro", sans-serif;
	box-sizing: border-box;
}

html{
	font-size: 62.50%;
}

:root{
	--gap: 1rem;
}

main{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	/*grid-auto-rows: 10vh 10vh 70vh 10vh;*/
	grid-template-rows: 10vh 10vh calc(70vh - (3 * var(--gap))) 10vh;
	/*grid -template-rows: repeat(2, 150px) 600px 150px;*/
	grid-gap: var(--gap);
}

header{
	color: turquoise;
}

nav{
	grid-row: 2;
	color: yellow;
}

aside{
	color: orange;
	border: 2px solid currentColor;
}

article{
	color: blue;
	border: 2px solid currentColor;
}

footer{
	color: red;
	/*background-color: grey;*/
	/*grid-column: 1/-1;*/
}

header, nav, footer{
	grid-column: 1/-1;
	border: 2px solid currentColor;	
}

header,nav, aside,article, footer{
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	
